@charset "UTF-8";

header {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

header a:hover {
    background-color: #555;
}

header .auth-links {
    margin-left: auto;
}
