
<h1 style="text-align: center;" >Amazonn Estore </h1>

<!-- <user></user> -->

<product name="HP Keyboard" [price]="1000" [inStock]="true" description="Sturdy Keyboard" />
<product name="HP Mouse" [price]="100" [inStock]="true" description="Sturdy Mouse" />
<product name="HP Laptop" [price]="100000" [inStock]="false" description="Sturdy Keyboard" />
<product name="HP Monito" [price]="10000" [inStock]="true" description="Sturdy Keyboard" />

<product-list ></product-list>

<br><br>

<product-list ></product-list>
